<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Luxurious Real Estate</title>
  <link rel="stylesheet" href="../css/homepage.css">
</head>
<body>
    <header>
        <div><a href="../templates/homepage.html">Luxurious Real Estate</a></div>
        <div><a href="../templates/login.html">Login</a><a href="../templates/explore.html">Explore</a></div>
    </header>

    <section>
        <div class="container">
            <div class="content c1">Discover the Art of Extraordinary Living</div>
        </div>
        <div class="container">
            <div class="content c2">Where Luxury Meets Elegance</div>
        </div>
        <div class="container">
            <div class="content c3">Luxury Redefined, Experience Unmatched</div>
        </div>
        <div class="container">
            <div class="content c4"><a href="../templates/explore.html">Explore</a></div>
        </div>
    </section>

</body>
</html>
